# DB Config
DATABASE_URL="postgresql://usuario:senha@host:5432/database?pgbouncer=true"
DIRECT_URL="postgresql://usuario:senha@host:5432/database"

# BaratoSociais
PROVIDER_API_URL="https://baratosociais.com/api/v2"
PROVIDER_API_KEY="sua_chave_aqui"

# PoloPag
POLOPAG_API_KEY="sua_chave_aqui"

# Stripe
STRIPE_SECRET_KEY="sk_live_..."
STRIPE_PUBLISHABLE_KEY="pk_live_..."
# STRIPE_WEBHOOK_SECRET="whsec_..."
